# Gromit-MPX tools for the screen highlighter (Alt+Shift+h -> highlighter-toggle)
"green marker" = PEN (size=16 color="#35b24e");
"eraser" = ERASER (size=40);

"default" = "green marker";
"default"[Button3] = "eraser";
